
.get-table {
    background-color: #000;
}

.get-table.badge-danger {
    background-color: #dc3545;
}

.get-table.badge-success {
    background-color: #28a745;
}

.badge:hover, .get-table:hover {
    cursor: pointer;
}